
/* style.css */ 
body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    box-sizing: border-box; /* Ensure consistent box-sizing */
}
.container {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}
#col1{
    background-color: red;
    margin: 0 0;
    flex: 1;
    height: auto;
    padding: 2%;
    text-align: center;
}
#col2{
    background-color: green;
    margin: 0 0;
    flex: 1;
    height: auto;
    padding: 2%;
    text-align: center;
}
#col3{
    background-color: blue;
    margin: 0 0;
    flex: 1;
    height: auto;
    padding: 2%;
    text-align: center;
}